{%extends 'base.html'%}

{%block title%}Add User{%endblock%}

{%block content%}
<h1>Add User</h1>

<!-- need to make form work -->
<form method="POST">
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" name="first_name" placeholder="first name">
    <label for="last_name">Last Name</label>
    <input type="text" id="last_name" name="last_name" placeholder="last name">
    <label for="url">URL:</label>
    <input type="text" id="url" name="url" placeholder="url">
    <button type="submit">Submit</button>
</form>

{%endblock%}